<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../style/style_about.css">
</head>
<body>
    <%- include("./partial/header") %>
    <div class="container">
        <div class="image"></div>
        <div class="info">
            <h1 class="name">Anish N. Sonar</h1>
            <h2 class="pos">Student</h2>
            <div class="blog_info"></div>
            <p class="about_me"></p>
        </div>
    </div>
    <%- include("./partial/footer") %>
</body>
</html>