<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Detail Form</title>
    <link rel="stylesheet" href="../style/style_update.css">
</head>
<body>
    <%- include("./partial/header") %>
    <div class="container">
        <h1>Blog Detail Form</h1>
        <form method="POST">
            <label for="title">Blog Title</label>
            <input type="text" id="title" name="title" placeholder="Enter blog title" value="<%= blog.title %>" />

            <label for="description">Blog Description</label>
            <textarea id="description" name="description" placeholder="Enter blog content" rows="8" required><%= blog.description %></textarea>

            <button class="button">Update</button>
        </form>
    </div>
    <%- include("./partial/footer") %>
</body>
</html>